body {
 background-image: url("http://www.reactivemobile.com/images/Color logo with background.png");
 background-color: #5b98d6;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center; 
 background-size: 50%;
}